:root {
  --color-primario: #3b82f6;
  --color-fondo: #fafafa;
  --color-texto: #333;
  --color-primario-1: rgb(235, 243, 255);
  --color-primario-2: #90bbff;
  --color-primario-3: rgb(87, 150, 250);
}