@import url('colores.css');

body {
  background-color: var(--color-fondo);
}

.container {
    width: 40%;
    text-align: center;
    margin: 70px auto;
    padding: 50px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0px 10px rgba(0,0,0,0.1);
    color: var(--color-texto);
}

.planes {
    display: flex;
    flex-wrap: wrap;
    margin: 40px;
    justify-content: center;
    gap: 30px;
}




.plan {
    width: 45%;
    background-color: #fefefe;
    border: 3px solid #eee;
    border-radius: 12px;
    padding: 10px 30px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
    cursor: pointer;
    color: var(--color-texto);
    font-size: 1rem;
    transition: background-color 0.2s, border-color 0.2s;
}

.plan h2 {
  font-size: 1.3rem;
}

.plan p {
  font-size: 1rem;
}

.plan .precio {
    font-size: 1.1rem;
    font-weight: bold;
    margin-bottom: 20px;
    color: var(--color-texto);
}

.plan.seleccionado {
    background-color: var(--color-primario-1);
    border-color: var(--color-primario-2);
}

.plan:hover:not(.seleccionado) {
    background-color: #fafafa;
    border: 3px solid #ccc;
}





.boton-continuar {
  padding: 10px 38%;
  background-color: var(--color-primario);
  color: #fff;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.1s;
}

.boton-continuar:disabled {
  background-color: #9ca3af;
  cursor: default;
  opacity: 0.6;
}

.boton-continuar:hover:not(:disabled) {
  background-color: var(--color-primario-3);
}