<link rel="stylesheet" href="/css/correo_confirmacion.css">

<div id="container" class="container" style="display:none">

    <h1>Por favor verifica tu correo</h1>
    <br>

    <p>Se envió un correo a:</p>
    <p id="correo-placeholder"></p>

    <br>
    <p>Revisa tu bandeja de entrada y da click el enlace para confirmar tu cuenta.</p>
    <p>Si no lo ves, podrías tener que <b>revisar en la carpeta de spam</b>.</p>

</div>

<script type="module" src="/js/correo_confirmacion.js"></script>