<header>
    <nav>
        <div class="inicio">
            <a class="logo" href="/">CheckProducto</a>
            <a href="/">Inicio</a>
        </div>
        <div class="nav-links">
            <a href="/registro">Crea tu cuenta</a>
            <a href="/login">Inicia Sesión</a>
        </div>
    </nav>
</header>